<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BoxGame</title>
  <meta name="description" content="3d browser game involving boxes fighting against each other">
  <meta name="author" content="Trym Nilsen">
  <meta name="keywords" content="Cardboard game webgl babylon multiplayer fps 3d">
</head>

<body>
    <div>
        <div>Create Game</div>
        <form method="POST" action="/create-game">
        <input type="submit" value="Create Game"></input>
        </form>
    </div>
</body>
</html>