<!DOCTYPE html>
<head>
    <title>BoxGame</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	<script src="/node_modules/babylonjs/babylon.js"></script>
    <script src="/node_modules/systemjs/dist/system.src.js"></script>
    <script src="/static/systemjs.config.js"></script>
    <script>
      System.import('app').then(function() {
          console.log('Imported');
      }).catch(function(err){ 
          console.error(err); 
        });
    </script>
</head>
<body>
    <!--<canvas id="guiCanvas"></canvas>-->
    <canvas id="renderCanvas"></canvas>
	
</body>
</html>
